<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>

    <configSections>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
            <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </configSections>
    <appSettings>
      <!-- EMAIL SETTINGS -->
      <!-- 25 , 587 // 465 for SSL -->
      <add key="SMTPPORT" value="587" />
      <add key="FROMNAME" value="" />
      <add key="SMTP" value="" />
      <add key="FROMEMAIL" value="" />
      <add key="FROMPWD" value="" />
      <!-- **************** -->
    </appSettings>
    <connectionStrings>
      <add name="DB_LOCAL" connectionString="Data Source=.\MSSQLSERVER2012; Initial Catalog=backbone-sample; Trusted_Connection=True; Persist Security Info=False;" providerName="System.Data.SqlClient"/>
      <add name="DB_SERVER" connectionString="Data Source=***;Initial Catalog=***;Persist Security Info=True;User ID=***;Password=***" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <webServices>
          <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
          </protocols>
        </webServices>
        <!--<identity impersonate="true" userName="dfw\***" password="***" />-->
        <httpRuntime maxRequestLength="56320" executionTimeout="600" /><!--50 MBs + 5MB on upload limit = 55MBs total (in kilobytes) -->
        <compilation debug="true" strict="false" explicit="true">
          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          </assemblies>
        </compilation>
        <customErrors mode="Off"/>
        <!--<authentication mode="Forms">
          <forms loginUrl="~/signin.aspx" timeout="2880"/>
        </authentication>-->
        <pages validateRequest="false">
          <namespaces>
            <clear />
            <add namespace="System" /><!-- fundemental (always needed) -->
            <add namespace="System.Collections" /><!-- basic code libraries (always needed) -->
            <add namespace="System.Collections.Generic" /><!-- basic code libraries (always needed) -->
            <!--<add namespace="System.Collections.Specialized" />-->
            
            <add namespace="System.Configuration" /><!-- needed for reading web.config settings from code -->
            
            <add namespace="Microsoft.VisualBasic"/><!-- filesystem ops, conversions and formatting -->
            <add namespace="System.Text" /><!-- needed for HttpUtility.UrlEncode -->
            <!--<add namespace="System.Text.RegularExpressions" />-->
            
            <!--
            <add namespace="System.Linq" />
            <add namespace="System.Xml.Linq" />
            -->

            <add namespace="System.Data"/>
            <add namespace="System.Data.SqlClient"/>

            <!--
            <add namespace="System.Xml"/>
            <add namespace="System.IO"/>
            -->
            
            <!--
            <add namespace="System.Web.Caching" />
            <add namespace="System.Web.SessionState" />
            <add namespace="System.Web.Profile" />
            <add namespace="System.Web.UI" />
            <add namespace="System.Web.UI.WebControls" />
            <add namespace="System.Web.UI.WebControls.WebParts" />
            <add namespace="System.Web.UI.HtmlControls" />
            -->

            <add namespace="System.Web" />
            <add namespace="System.Web.Script.Services" /><!-- required to create a webservice -->
            <!--<add namespace="System.Web.Script.Serialization" />-->
            <add namespace="System.Web.Services"/><!-- required to define webmethods -->
            <!--<add namespace="System.Web.Services.Protocols" />-->
            <!--<add namespace="System.Web.Security" />--><!-- needed for md5 hashing -->
            
            <!--<add namespace="System.Net" />-->
            <!--<add namespace="System.Net.Mail" />-->
            
            <!--
            <add namespace="System.Runtime.Serialization"/>
            <add namespace="System.Runtime.Serialization.Json"/>
            -->
          </namespaces>
          <controls>
            <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          </controls>
        </pages>
      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>
    </system.web>
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="52428800"/><!-- 50 MBs -->
        </webServices>
      </scripting>
    </system.web.extensions>
    <system.codedom>
      <compilers>
        <!--
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
        -->
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
                  type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="ScriptModule" />
        <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </modules>
      <handlers>
        <remove name="WebServiceHandlerFactory-Integrated"/>
        <remove name="ScriptHandlerFactory" />
        <remove name="ScriptHandlerFactoryAppServices" />
        <remove name="ScriptResource" />
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </handlers>
      <defaultDocument enabled="true">
        <files>
          <clear/>
          <add value="Service.asmx" />
        </files>
      </defaultDocument>
      <security>
        <requestFiltering>
          <!--
          <fileExtensions allowUnlisted="false" applyToWebDAV="true">
          <add fileExtension=".pdf" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".jpeg" allowed="true" />
          <add fileExtension=".doc" allowed="true" />
          <add fileExtension=".docx" allowed="true" />
          <add fileExtension=".xls" allowed="true" />
          <add fileExtension=".xlsx" allowed="true" />
          </fileExtensions>
          -->
          <!--upload size is limited to 50 MBs-->
          <!--<requestLimits maxAllowedContentLength="52428800"/>-->
          <!-- in bytes -->
        </requestFiltering>
      </security>
      <httpProtocol>
        <!--allows for cross domain request and access to webservice response-->
        <customHeaders>
          <clear/>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, HEAD" />
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
          <add name="Access-Control-Max-Age" value="1728000" />
          <!--the value in seconds for how long the response to the preflight request can be cached for without 
        sending another preflight request.  In this case, 1728000 seconds is 20 days.-->
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    <runtime>
      <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>